<div class="chat-message {{#if fromSelf}}me{{/if}}">
    <div class="message-username">{{username}}</div>
    <div class="arrow-left"><div></div></div>
    <pre class="message-content">{{message}}</pre>
</div>